/* -------- General -------- */

* {
  color: #333333;
  -webkit-font-smoothing: antialiased;
}

body {
  padding: 0px;
  margin: 0px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #ffffff;
}

a {
  color: #555555;
  text-decoration: none;
  border-bottom: dotted 1px;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

a:hover {
  color: #FB973A;
  text-decoration: none;
}

a sup{
  color: #999999;
}

p, li {
  color: #666666;
  list-style-type: none;
  font-size: 0.9em;
  overflow-wrap: break-word;
  line-height: 1.6em;
}

/* -------- Text -------- */

h1 {
  font-weight: 600;
  letter-spacing: -0.025em;
  line-height: 1.5em;
  font-size: 1.5em;
  margin-left: -0.3em;
  color: #444444;
}

/* _ alejandro.wang */

h2 {
  font-size: 4em;
  line-height: 1.1;
  font-weight: 200;
  font-style: italic;
  letter-spacing: -0.02em;
  color: #222222;
}

h3 {
  font-size: 1.3em;
  font-weight: 600;
  line-height: 1.5;
  margin: 0 0 0.7em -0.5em;
  letter-spacing: -0.025em;
  color: #555555;
}

h4 {
  font-size: 2.5em;
  font-style: italic;
  font-weight: 200;
  margin: 0 0 3.5em 0;
  line-height: 1.6;
  letter-spacing: -0.02em;
  color: #222222;
}

h5 {
  font-size: 1.5em;
  margin-bottom: 1em;
  z-index: 1000;
  position: relative;
  font-weight: 400;
  line-height: 1.5;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit;
  text-decoration: none;
}



/* -------- Video & Image -------- */
.iframe-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.iframe-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video {
  z-index: 10;
}

.video-mockup1 {
  width: 60.7%;
  left: 50%;
  top: 50%;
  z-index: 1000;
  transform: translate(-50%, -50%);
  position: absolute;
}

.image {
  display: block;
}

.image img {
  width: 100%;
}

/* Banner picture in header */
.image.banner {
  width: calc(100% - 5em);
  height: calc(100vh - 8em);
  margin: 3.5em 2.5em 0 2.5em;
  position: absolute;
}

.image.banner img {
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.image.alt {
  display: block;
  margin: 2em 0 -1.3em 0;
  border-left: 2em solid rgba(0, 0, 0, 0);
  width: 100%;
  z-index: 10;
}

.image.alt img {
  border-radius: 4px;
}

.image.main {
  margin: -2em 0 0 0;
  width: 100%;
}

.image.full {
  display: block;
  margin: 0 0 2em 0;
  width: 100%;
}

.image.end {
  display: block;
  margin: 0 0 -3em 0;
  width: 100%;
}


/* -------- Container Positioning -------- */

.container-fluid {
  padding: 0;
}

/* -------- Header -------- */

header {
  width: 100%;
  height: calc(100vh - 4.5em);
  margin-bottom: 1.5em;
}

.slogan {
  bottom: 1.8em;
  left: 2.5em;
  padding-right: 2.5em;
  position: absolute;
  z-index: 100;
}

.slogan p {
  color: black;
  margin-bottom: 0;
}

.nav-desc {
  height: 1.5em;
  margin: 0 2.5em;
  vertical-align: middle;
}

.float-left {
  float: left;
  text-align: left;
  display: block;
  margin: 0;
}

.float-right {
  float: right;
  text-align: right;
  display: block;
  margin: 0;
}

#main>section {
  padding: 5em 5em 3em 5em;
  border-bottom: solid 1px #dddddd;
}

#main>section:first-child {
  border-top: 0;
}

/* -------- Nav -------- */

nav {
  box-sizing: border-box;
  width: 100%;
  height: 3em;
  padding: 0 2.5em;
  border-bottom: solid 1px #dddddd;
  cursor: default;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  z-index: 1000;
}

.nav-home {
  vertical-align: middle;
  line-height: 3em;
  border: 0;
  font-weight: 600;
}

.nav-tab {
  vertical-align: middle;
  line-height: 3em;
  right: 0;
}

nav p {
  display: inline-block;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  float: right;
}

nav ul li {
  display: inline-block;
  vertical-align: middle;
}

nav ul li a {
  font-weight: 600;
  line-height: 1em;
  display: inline-block;
  padding: 0 1.25em;
  border-right: 2px solid #cccccc;
  border-bottom: 0;
  -moz-transition: color 0.2s ease;
  -webkit-transition: color 0.2s ease;
  -ms-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

nav ul li:last-child a{
  padding-right: 0;
  border: 0;
}

nav ul li a:hover {
  color: black;
}

nav ul li.active a {
  color: #FB973A;
}

.sticky {
  position: fixed;
  top: 0;
}

/* -------- Info -------- */


/* -------- Button Rewrite -------- */

.btn-primary {
  border: 1px solid #FB973A;
  background-color: transparent;
  opacity: 0.8;
  border-radius: 0;
  text-decoration: none;
  padding-left: 15px;
  padding-right: 15px;
  color: #FB973A;
  font-weight: 400;
}

.btn-primary:hover, .btn-primary:active {
  border: 1px solid #FB973A;
  background-color: #FB973A;
  opacity: 1;
  color: #ffffff;
}

/* -------- Decoration -------- */

hr {
  border: 0;
  max-width: 14px;
  border-bottom: solid 2px;
  margin: 4em 0 3em -14px;
}

.background {
  width: calc((100vw - 4em - 30px)*3/4);
  height: calc(100vh - 4em);
  position: fixed;
  left: calc(2em + 15px);
  bottom: 0;
  background-image: url("../../images/blank-banner.png");
  background-color: #F4F4F2;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  display: none;
  transition: background 0.2s linear;
}

.word-covered {
  position: relative;
  white-space: nowrap;
}

.word-covered:before {
  bottom: 10%;
  content: '';
  height: 30%;
  left: 0;
  opacity: .9;
  position: absolute;
  right: 0;
  background: #FB973A;
}

.word-underlined {
  position: relative;
  white-space: pre-line;
}

.word-underlined:before {
  bottom: 0%;
  content: '';
  height: 20px;
  left: 0;
  opacity: .4;
  position: absolute;
  right: 0;
  background: #FB973A;
  transition: background 0.2s linear;
}

/* -------- Theme -------- */

.smartpill {
  background-color: #F1FAF6 !important;
}

.black-bg {
  background-color: #111;
}

.grey {
  color: #ccc;
}

.inforest {
  /* background-color: #eeeeee !important; */
}

.mobile, .civicrm {
  background-color: #F2F9FF !important;
}

.edge {
  background-color: #E7F0F8 !important;
}

/* -------- Footer -------- */

footer {
  padding: 5em ;
  margin-top: 5em;
  width: 70%;
}

footer>* {
  /* width: 60%; */
}

footer>.links a {
  font-style: italic;
  font-weight: 200;
  font-size: 2.5em;
  line-height: 1.5em;
  display: inline-block;
  margin-right: 0.2em;
}

footer .copyright {
  color: #555555;
  letter-spacing: 1px;
  display: inline-block;
  opacity: 0.8;
}

footer>a {
  border: 0;
  padding: 0 0.2em;
  opacity: 0.4;
}


/* -------- Preloader -------- */

#preloader-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 1000;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.no-js #preloader-container, .oldie #preloader-container {
  display: none;
}

#preloader {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100px;
  height: 100px;
  margin-left: -50px;
  margin-top: -50px;
  padding: 0;
  background-color: #aaa;
  border-radius: 100%;
  -webkit-animation: scaleout 1.0s infinite ease-in-out;
  animation: scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes scaleout {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}

@keyframes scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}


/* -------- Mobile View Media -------- */

@media (max-width: 768px) {
  #main>section {
    padding: 5em 2em 3em 2em;
  }
  footer {
    padding: 2em;
    width:auto;
  }
  nav {
    display: none;
  }
  .image.banner {
    width: 100%;
    height: 100vh;
    margin: 0;
  }
  .image.banner img {
    opacity: 0.5;
  }
  h2 br, h3 br, h4 br {
    display: none;
  }
}
